requests==2.25.1
python-dotenv==0.15.0
Flask==1.1.2
Jinja2==2.11.3 # Pinned for Flask 1.1.2 compatibility
MarkupSafe==1.1.1 # Pinned for Jinja2 2.11.3 compatibility
itsdangerous==1.1.0 # Pinned for Flask 1.1.2 compatibility
Werkzeug==1.0.1 # Pinned for Flask 1.1.2 compatibility
openai==0.10.2
keyring==23.5.0
art